:root {
  --primary: #103E50;
  --primary-dark: #022735;
  --primary-light: #457385;
  --primary-text: #ffffff;
}

.centerContainer {
  text-align: center;
  background-color: var(--primary-light);
  color: var(--primary-text);
  height: 100vh;
  overflow: hidden;
}

header{
  background-color: var(--primary-dark);
  margin: 0px;
  overflow: hidden;
  margin-bottom: 25px;
}

.playerBox{
  padding: 15px 0px 15px 0px;

}

.actionsContainer{
  display: flex;
  flex-direction:row;
  justify-content: center;
  vertical-align: center;
}

.actionBox{
  margin: 30px;
  background-color: var(--primary-light);
}

.actionButton{
  height: 250px;
  width: 250px;
  margin: 10px 20px 10px 20px;
}

.actionImg{
  height: 200px;
  width: 200px;
  background-color: var(--primary-light);
  border: solid 5px var(--primary-light);
}

.actionImg:hover{
  border-color: var(--primary);
  cursor: pointer;
}